{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h2>Вход</h2>
<form method="post" class="auth-form">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Логин" required>
  <input type="password" name="password" placeholder="Пароль" required>
  <button type="submit" class="btn btn-primary">Войти</button>
  <p style="text-align:center; margin-top:10px;">
    <a href="{% url 'register' %}" class="btn btn-outline">Нет аккаунта? Зарегистрируйтесь</a>
  </p>
</form>