{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h2>Поиск пациента</h2>
<form method="get" class="search-form">
  {{ form.as_p }}
  <button type="submit" class="btn btn-success">🔍 Найти</button>
</form>

{% if patients %}
  <h3>Результаты:</h3>
  <div class="results-list">
    {% for p in patients %}
      <div class="card">
        <div class="card-title">{{ p.full_name }}</div>
        <div class="card-text">
          Пол: {{ p.get_gender_display|default:"Не указан" }}<br>
          Дата рождения: 
          {% if p.birth_date %}
            {{ p.birth_date|date:"d.m.Y" }} ({{ p.get_age }} лет)
          {% else %}
            не указана
          {% endif %}
        </div>
        <div class="card-footer">
          <a href="?generate=true&patient_id={{ p.id }}" class="btn btn-outline">📄 Скачать рекомендации</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Пациенты не найдены.</p>
{% endif %}